.header__wrapper {
  display: flex;
  flex-wrap: wrap;
  padding: 17px 0;

  @media (min-width: $desktop) {
    padding: 23px 0;
  }
}

.header__logo {
  @media (min-width: $tablet) {
    display: flex;
    justify-content: space-between;
  }
}

.header__contacts {
  @media (min-width: $laptop) {
    margin-top: 26px;
    margin-left: auto;
  }

  @media (min-width: $desktop) {
    margin-top: 28px;
  }
}

.header__login {
  margin-top: 18px;
  margin-left: auto;

  @media (min-width: $tablet) {
    margin-top: 26px;
  }

  @media (min-width: $laptop) {
    margin-left: 93px;
    margin-top: 22px;
  }

  @media (min-width: $desktop) {
    margin-left: 91px;
    margin-top: 30px;
  }
}

.header__toggle {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  width: 42px;
  height: 28px;
  margin: 22px 0 0 22px;
  margin-top: 22px;
  padding: 0;
  border: 0;
  background-color: transparent;

  @media (min-width: $tablet) {
    margin: 34px 0 0 80px;
  }

  @media (min-width: $laptop) {
    display: none;
  }

  &::after,
  &::before {
    content: "";
    display: block;
    height: 4px;
    border-radius: 4px;
    background-color: $accent-color;
  }

  &::after {
    width: 32px;
    margin-top: 8px;
  }

  &::before {
    width: 42px;
    box-shadow: 0 -12px 0 0 $accent-color;
  }
}
